absl-py
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
Corpus
cycler
debugpy
decorator
defusedxml
Django
django-storages
executing
fastjsonschema
Flask
flatbuffers
fonttools
fqdn
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httpcore
httpx
idna
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
libclang
lz4
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
MouseInfo
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
oauthlib
opencv-python
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
prometheus_client
prompt_toolkit
protobuf
psutil
pure_eval
pyasn1
pyasn1-modules
PyAutoGUI
pycparser
PyGetWindow
Pygments
PyMsgBox
pyperclip
PyRect
PyScreeze
python-dateutil
python-json-logger
pytweening
pywin32
pywinpty
PyYAML
pyzmq
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rpds-py
rsa
s3transfer
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
sniffio
soupsieve
sqlitecloud
sqlparse
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
